/* cgv profect 반응형 */
@media screen and (max-wdith: 1499px) {
  .row {
    max-width: 1499px;
    border: 0px solid #333;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1199px) {
  /* 헤더영역 */
  #header {
    background: #fff;
    /* background: #000; */
    position: static;
    width: 100%;
    /* height: auto; */
    /* z-index: 999; */
    padding: 0 10px;
  }
  #header .row {
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    /* background: #000; */
    padding: 0px 0px;
    height: auto;
    flex-wrap: wrap;

    /* background: #000; */
  }
  #header .menuopen {
    display: block;
    font-size: 25px;
    align-items: center;
    color: #000;
    margin: 30px 0px 10px;
  }
  #header .menuopen i {
    color: #ed3124;
  }
  #header h1 a {
    width: 125px;
    height: 63px;
    display: block;
    background-size: contain;
    background: url(../img/logo_hover.png) no-repeat;
  }
  #header h1 a:hover {
    width: 125px;
    height: 63px;
    display: block;
    background-size: contain;
    background: url(../img/logo_hover.png) no-repeat;
  }

  #header .nav {
    display: block;
    width: 100%;
  }
  #header .nav .depth1 {
    display: none;
    background: transparent;
  }
  #header .nav .depth1 > li {
    display: block;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    position: relative;
    transition: all 0.5s;
  }
  #header .nav .depth1 > li > a {
    transition: all 0.3s;
    height: auto;
    line-height: 40px;
    padding: 0 25px 0 25px;
    align-items: center;
    display: block;
    color: #ed3124;
    border-bottom: 1px solid #fff;
  }
  #header .nav .depth1 > li > a:hover {
    color: #333;
  }
  #header .nav .depth1 > li a:hover .depth2 {
    display: block;
    color: rgb(45, 45, 45);
  }
  #header .nav .depth2 {
    position: static;
    width: 100%;
    display: none;
    transform: translate(0%);
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    background: transparent;
  }

  #header .nav .depth2 > li > a {
    display: block;
    padding: 10px 20px;
    transition: all 0.2s;
    color: #333;
  }
  #header .nav .depth2 > li > a:hover {
    background: #ed3124;
    color: #fff;
  }
  #header .info {
    display: none;
    justify-content: center;
    align-items: center;
  }
  /* 슬라이드구역 */
  #section .slide img {
    width: 100%;
    min-height: 400px;
  }
  #section .slide .text {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #section .slide .text h2 {
    font-size: 60px;
    word-break: keep-all;
    padding-top: 50px;
  }
  #section .slide .text p {
    font-size: 16px;
    margin: 20px 0 30px;
  }
  #section .slide .text a {
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 30px;
    transform: translate3d(0, 100%, 0);
    margin: 0px 10px 20px;
    transition: all 0.3s;
    font-weight: normal;
    border-radius: 3px;
    display: inline-block;
  }
  #section .slide .text a:hover {
    font-size: 18px;
    border: 1px solid #ed3124;
    padding: 10px 30px;
    transform: translate3d(0, 100%, 0);
    margin: 0px 10px 20px;
    transition: all 0.3s;
    font-weight: normal;
    border-radius: 3px;
    display: inline-block;
  }

  #section .slideOuter .slideInner ul.slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
  }

  /* 무비차트 영역 */
  #section .textarea {
    padding: 50px 0 10px;
  }
  #section .textarea h2 {
    color: #1f1f1f;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
  }
  #section .textarea p {
    color: #797979;
    font-size: 25px;
    text-align: center;
  }
  #section .textarea a {
    color: #ed3124;
    font-size: 15px;
    text-align: center;
    display: block;
    padding-top: 20px;
  }
  #section .row {
    display: block;
    position: relative;
    width: 100%;
  }
  #section .row li {
    width: 60%;
    text-align: center;
    margin: 50px auto;
  }
  #section .row h2 {
    font-size: 45px;
  }
  #section .row h3 {
    font-size: 45px;
    color: #242424;
    padding-top: 20px;
    font-weight: 800;
  }
  #section .row .image .hover h2 {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
  }
  #section .row .image .hover h1 {
    font-size: 50px;
    font-weight: lighter;
  }

  #section .row .box {
    background: rgba(130, 0, 0, 0.6);
    position: absolute;
    z-index: 999;
    width: 100px;
    height: 120px;
    transition: all 0.3s;
  }
  #section .row .box h3 {
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
  }

  #section .textbox .number {
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 37px;
    font-weight: bold;
  }
  #section .textbox .n3 {
    background: rgba(0, 174, 59, 1);
    font-size: 26px;
  }

  #section .textbox a {
    color: #ed3124;
    border: 1px solid;
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    margin-top: 5px;
    font-weight: normal;
    border-radius: 3px;
    transition: all 0.3s;
  }
  #section .textbox a:hover {
    background: #ed3124;
    color: white;
    transition: all 0.3s;
    border-radius: 3px;
    padding: 15px 55px;
    transition: all 0.3s;

    font-weight: normal;
  }

  /* cgv픽 */
  #section .cgvText {
    text-align: center;
    padding: 10px 0 40px;
  }
  #section .cgvText h2 {
    font-size: 45;
    color: #ed3124;
  }
  #section .cgvText p {
    padding-top: 10px;
    font-size: 25px;
    color: #333;
  }
  #section .cgv {
    display: block;
    padding: 40px 0;
  }
  #section .cgv img {
    width: 100%;
    height: auto;
  }
  #section .moviechart {
    margin-bottom: 10px;
    padding-bottom: 50px;
    background: #fbfbfb;
  }
  #section .cgv .movieText {
    flex: 1;
    text-align: center;
  }
  #section .cgv .movie {
    width: 100%;
    height: 500px;
    transition: all 0.3s;
    overflow: hidden;
  }
  #section .cgv .movieText h3 {
    font-size: 40px;
    color: #242424;
    padding-top: 20px;
    font-weight: normal;
  }

  #section .cgv .movieText p.text {
    font-size: 15px;
    line-height: 30px;
    padding: 25px;
    color: #333;
    word-break: keep-all;
  }
  #section .cgv .movieText a {
    color: #ed3124;
    border: 1px solid #ed3124;
    padding: 10px 40px;
    transition: all 0.2s;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
    transition: all 0.3s;
  }
  #section .cgv .movieText a:hover {
    color: white;
    border: 1px solid #ed3124;
    padding: 10px 80px;
    transition: all 0.2s;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
    transition: all 0.3s;
  }
  #section .cgv .m1 {
    background: url(../img/movie01.jpg) no-repeat center/cover;
  }
  #section .cgv .m2 {
    background: url(../img/movie02.jpg) no-repeat center/cover;
  }
  #section .cgv .m3 {
    background: url(../img/movie03.jpg) no-repeat center/cover;
  }
  #section .cgv .movieText p.mo1 {
    width: 120px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 45px;
    color: rgba(30, 149, 0, 1);
    border: 1px solid rgba(30, 149, 0, 1);
  }
  #section .cgv .movieText p.mo2 {
    width: 120px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 45px;

    color: #3693ff;
    border: 1px solid #3693ff;
  }
  #section .cgv .movieText p.mo3 {
    width: 120px;
    margin: 0 auto;
    margin-top: 45px;

    font-size: 18px;
    color: rgba(30, 149, 0, 1);
    border: 1px solid rgba(30, 149, 0, 1);
  }

  /* 슬라이드2 구역 */
  #section .slide2 img {
    width: 100%;
    height: 500px;
  }
  #section .slideOuter2 .slideInner2 {
    position: relative;
  }
  #section .slideOuter2 .slideInner2 .slide2 {
    position: relative;
  }
  #section .slide2 .textbox2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #section .slide2 .textbox2 h2 {
    font-size: 60px;
    padding: 0px;
  }
  #section .slide2 .textbox2 h3 {
    font-size: 20px;
    font-weight: lighter;
    opacity: 90%;
  }

  #section .slide2 .textbox2 p {
    font-size: 12px;
    word-break: keep-all;
    padding: 30px 0;
  }

  #section .textbox2 img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  /* 이벤트리스트 영역 */

  #section .eventText {
    color: white;
    padding: 30px 0px 30px 0;
  }
 
  #section .event li h2 {
    color: #252525;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 600;
  }
  #section .event li p {
    color: #8c8c8c;
    font-size: 15px;
  }

  /* enjoy영역 */


#section .enjoy .ej {
  margin: 0 auto;
  display: block;
  justify-content: center;
}
#section .enjoy .ej li {
  padding: 20px 25px;
}
#section .enjoy .ej li h3 {
  color: white;
  font-weight: 600;
  font-size: 45px;
}
#section .enjoy .ej li p {
  color: white;
  font-size: 25px;
}
#section .enjoy .ej li a {
  display: inline-block;
  margin-top: 15px;
  color: white;
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px 35px;
  transition: all 0.2s;
  word-break: keep-all;
  border-radius: 3px;
}
#section .enjoy .ej li a:hover {
  color: #ed3124;
  border: 1px solid #fff;
  background: #fff;
  font-weight: bold;
  padding: 10px 130px;
}
#section .enjoy .ej li span {
  font-size: 80px;
  color: #af0b00;
  border-bottom: 3px solid rgba(175, 11, 0, 0.4);
}
#section .enjoy .ej li .enjoyIcBox {
  position: relative;
  width: 350px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 25px;
}
}
